<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
     <div id="body">
    <div class = "containerFormulario">
        <h1>Login</h1>
        <form action="">
            
            
            <input type="Username" name="Username" placeholder="Username" required maxlength="15" min="15">
            
            
            <input type="password" placeholder="Password"><br>
            
        </form>
        <div class="caja">
            <input type="checkbox" name="" id="">
            <label for="checkbox">Remember me</label>
        
        <button>LOG IN</button>
        <h6>Forget password</h6>
        <div class="member">
        <h6>Not a member? <a href="Sign up now">Sign up now</a></h6>
        </div>
    </div>
</div>
    
   

